language: java

## do everything in HermiT directory
## this installs dependencies. Ant needs no installation because they are already there.
install: cd HermiT;mvn install -DskipTests=true;cd ..

## do the tests
script: ant test-hard && cd HermiT && mvn test

## a single JVM should be enough.
## Adding openjdk7 is probably a sensible thing, but means I have to 
## edit the ant build.xml file which is unfortunate.
jdk:
  - openjdk6
  - openjdk7

## I will need to set something up to catch these. 
notifications:
  email:
    - travis@russet.org.uk
